{{define "sidebar"}}
<aside class="sidebar">
 
  <div class="sidebar-part sidebar-part--content">
    {{block "sidebar-content" .}}{{end}}
  </div>
  <div class="sidebar-part sidebar-part--nav">
    <ul class="sidebar-nav">
      <li><a href="/" class="{{if eq .ActivePage "home"}}active{{end}}">Dashboard</a></li>
      <li><a href="/video/split" class="{{if eq .ActivePage "split"}}active{{end}}">Split Video</a></li>
      <li><a href="/video/merge" class="{{if eq .ActivePage "merge"}}active{{end}}">Merge Video</a></li>
      <li><a href="/video/gif" class="{{if eq .ActivePage "gif"}}active{{end}}">GIF from Video</a></li>
      <li><a href="/video/extract-audio" class="{{if eq .ActivePage "extract-audio"}}active{{end}}">Extract Audio</a></li>
      <li><a href="/video/editor" class="{{if eq .ActivePage "editor"}}active{{end}}">Video Editor</a></li>
      <li><a href="/about" class="{{if eq .ActivePage "about"}}active{{end}}">About</a></li>
      <li><a href="/faq" class="{{if eq .ActivePage "faq"}}active{{end}}">FAQ</a></li>
    </ul>
  </div>
</aside>
{{end}}
